<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="adminMapper">
	<select id="getDepartmentList" resultMap="departmentResultSet">
		select *
		from department
		where d_status = 'Y'
		and d_name != '전체'
	</select>
	
	<resultMap type="Department" id="departmentResultSet">
		<id column="D_NO" property="dNo"/>
		<result column="D_NAME" property="dName"/>
		<result column="D_PARENT" property="dParent"/>
		<result column="D_DATE" property="dDate"/>
		<result column="D_STATUS" property="dStatus"/>
	</resultMap>
	
	<insert id="insertRvProduct">
		insert into rv_product
		values(SEQ_RVP.NEXTVAL, #{pdNo}, #{pdCategory}, #{pdName}, #{pdDate}, #{pdCount})
	</insert>
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	<!-- 부서 목록 -->
	<select id="selectDepList" resultMap="departmentResultSet">
		select *
		from department
		where d_status = 'Y'
		order by d_No asc
	</select>
	
	<!-- 부서 구성원 수 -->
	<select id="depCountList" resultType="_int">
		select count(m_no)
		from department
		    left join member using(d_no)
		where d_status='Y'
		group by d_no
	</select>
	<select id="depCount" resultType="_int">
		select count(m_no)
		from department
		    left join member using(d_no)
		where d_no = #{dNo} and d_status='Y'
		group by d_no
	</select>
	
	

	<!-- 부서 등록 -->
	<insert id="insertDepartment">
		insert into department
		values( SEQ_DEPT.nextval, #{dName}, #{dParent}, #{dDate}, default )
	</insert>
	
	
	<!-- 부서 이름 중복확인 -->
	<select id="duplicateDName" resultType="_int">
		select count(*)
		from department
		where d_name=#{dName}
	</select>
	
	<!-- 부서 삭제 -->
	<update id="deleteDep">
		update department
		set d_status='N'
		where d_No=#{dNo}
	</update>
	
	
	
</mapper>
