<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="memberMapper">
	  
	<!-- 회원가입 -->
	<insert id="insertMember">
		insert into member
		values (#{mNo}, #{email}, #{name}, #{pwd}, #{jobGrade}, null, null, null, default
				, #{dNo}, sysdate, default)
	</insert>
	
	<!-- 사원번호 중복 확인 : ajax -->
	<!-- 반환값 : int -->
	<select id="duplicateMNo" resultType="_int">
		select count(*)
		from member
		where m_No=#{mNo}
	</select>
	
	<!-- 로그인 -->
	<select id="memberLogin" resultMap="memberResultSet">
		select *
		from member
		where m_no=#{mNo} and m_status='Y'
	</select>
		
	<resultMap type="Member" id="memberResultSet">
		<id column="M_NO" property="mNo"/>
		<result column="EMAIL" property="email"/>
		<result column="NAME" property="name"/>
		<result column="PWD" property="pwd"/>
		<result column="JOB_GRADE" property="jobGrade"/>
		<result column="BIRTHDAY" property="birthDay"/>
		<result column="PHONE" property="phone"/>
		<result column="ADDRESS" property="Address"/>
		<result column="M_GRADE" property="mGrade"/>
		<result column="D_NO" property="dNo"/>
		<result column="M_HIRED" property="hireDate"/>
		<result column="M_STATUS" property="mStatus"/>
	</resultMap>

</mapper>
